In [91]:
import pandas as pd
import numpy as np

In [92]:
import plotly.express as px

# Lectura y normalización de datos

In [93]:
data = pd.read_json('../data/datos_inmuebles.json')
data.head()

                                       dados_locacao
0  {'apartamento': 'A101 (blocoAP)', 'datas_combi...
1  {'apartamento': 'A102 (blocoAP)', 'datas_combi...
2  {'apartamento': 'B201 (blocoAP)', 'datas_combi...
3  {'apartamento': 'B202 (blocoAP)', 'datas_combi...
4  {'apartamento': 'C301 (blocoAP)', 'datas_combi...

In [94]:
data = pd.json_normalize(data['dados_locacao'])

In [95]:
data.head()

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),"[01/06/2022, 01/07/2022]","[05/06/2022, 03/07/2022]","[$ 1000,0 reais, $ 2500,0 reais]"
1,A102 (blocoAP),"[02/06/2022, 02/07/2022]","[02/06/2022, 06/07/2022]","[$ 1100,0 reais, $ 2600,0 reais]"
2,B201 (blocoAP),"[03/06/2022, 03/07/2022]","[07/06/2022, 03/07/2022]","[$ 1200,0 reais, $ 2700,0 reais]"
3,B202 (blocoAP),"[04/06/2022, 04/07/2022]","[07/06/2022, 05/07/2022]","[$ 1300,0 reais, $ 2800,0 reais]"
4,C301 (blocoAP),"[05/06/2022, 05/07/2022]","[10/06/2022, 09/07/2022]","[$ 1400,0 reais, $ 2900,0 reais]"

# Transformación de datos

Eliminando datos en listas dentro del DataFrame.

In [96]:
data = data.explode(['datas_combinadas_pagamento', 'datas_de_pagamento', 'valor_aluguel'])
data.reset_index(inplace = True, drop = True)
data.head()

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel
0,A101 (blocoAP),01/06/2022,05/06/2022,"$ 1000,0 reais"
1,A101 (blocoAP),01/07/2022,03/07/2022,"$ 2500,0 reais"
2,A102 (blocoAP),02/06/2022,02/06/2022,"$ 1100,0 reais"
3,A102 (blocoAP),02/07/2022,06/07/2022,"$ 2600,0 reais"
4,B201 (blocoAP),03/06/2022,07/06/2022,"$ 1200,0 reais"

Verificando tipos de datos.

In [97]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     object
 3   valor_aluguel               30 non-null     object
dtypes: object(4)
memory usage: 1.1+ KB

## Datos numéricos

Identificando columnas numéricas y Transformando la columna numérica a tipo numérico.

In [98]:
data['valor_aluguel'] = data['valor_aluguel'].apply(lambda x: x.replace('$ ','').replace(',', '.').replace(' reais',''))
data['valor_aluguel'] = data['valor_aluguel'].astype(np.float64)

In [99]:
data.head()

      apartamento datas_combinadas_pagamento datas_de_pagamento  valor_aluguel
0  A101 (blocoAP)                 01/06/2022         05/06/2022         1000.0
1  A101 (blocoAP)                 01/07/2022         03/07/2022         2500.0
2  A102 (blocoAP)                 02/06/2022         02/06/2022         1100.0
3  A102 (blocoAP)                 02/07/2022         06/07/2022         2600.0
4  B201 (blocoAP)                 03/06/2022         07/06/2022         1200.0

In [100]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     object
 2   datas_de_pagamento          30 non-null     object
 3   valor_aluguel               30 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.1+ KB

## Datos de texto

In [101]:
data.head()

      apartamento datas_combinadas_pagamento datas_de_pagamento  valor_aluguel
0  A101 (blocoAP)                 01/06/2022         05/06/2022         1000.0
1  A101 (blocoAP)                 01/07/2022         03/07/2022         2500.0
2  A102 (blocoAP)                 02/06/2022         02/06/2022         1100.0
3  A102 (blocoAP)                 02/07/2022         06/07/2022         2600.0
4  B201 (blocoAP)                 03/06/2022         07/06/2022         1200.0

Manipulando los textos de la columna apartamento para eliminar el texto (blocoAP) de la columna 'apartamento' en el DataFrame.

In [102]:
data['apartamento'] = data['apartamento'].str.replace(' (blocoAP)','')

In [103]:
data.head(2)

  apartamento datas_combinadas_pagamento datas_de_pagamento  valor_aluguel
0        A101                 01/06/2022         05/06/2022         1000.0
1        A101                 01/07/2022         03/07/2022         2500.0

## Datos de tiempo

En las columnas datas_de_pagamento y datas_combinadas_pagamento tenemos fechas en el formato 'día/mes/año' (dd/mm/AAAA). Transforme estos datos al tipo datetime y busque una forma de visualización de subconjunto que pueda contribuir al objetivo del contexto en el que se insertan los datos.

In [ ]:
data['datas_combinadas_pagamento'] = pd.to_datetime(data['datas_combinadas_pagamento'], format='%d/%m/%Y')
data['datas_de_pagamento'] = pd.to_datetime(data['datas_de_pagamento'], format='%d/%m/%Y')
data.head()

   apartamento datas_combinadas_pagamento datas_de_pagamento  valor_aluguel
0         A101                 2022-06-01         2022-06-05         1000.0
1         A101                 2022-07-01         2022-07-03         2500.0
2         A102                 2022-06-02         2022-06-02         1100.0
3         A102                 2022-07-02         2022-07-06         2600.0
4         B201                 2022-06-03         2022-06-07         1200.0
5         B201                 2022-07-03         2022-07-03         2700.0
6         B202                 2022-06-04         2022-06-07         1300.0
7         B202                 2022-07-04         2022-07-05         2800.0
8         C301                 2022-06-05         2022-06-10         1400.0
9         C301                 2022-07-05         2022-07-09         2900.0
10        C302                 2022-06-06         2022-06-08         1500.0
11        C302                 2022-07-06         2022-07-12         1200.0
12        D401                 2022-06-07         2022-06-07         1600.0
13        D401                 2022-07-07         2022-07-09         1300.0
14        D402                 2022-06-08         2022-06-10         1700.0
15        D402                 2022-07-08         2022-07-14         1400.0
16        E501                 2022-06-09         2022-06-10         1800.0
17        E501                 2022-07-09         2022-07-09         1500.0
18        E502                 2022-06-10         2022-06-16         1900.0
19        E502                 2022-07-10         2022-07-12         1600.0
20        F601                 2022-06-11         2022-06-17         2000.0
21        F601                 2022-07-11         2022-07-13         1000.0
22        F602                 2022-06-12         2022-06-15         2100.0
23        F602                 2022-07-12         2022-07-12         1100.0
24        G701                 2022-06-13         2022-06-19         2200.0
25        G701                 2022-07-13         2022-07-20         1200.0
26        G702                 2022-06-14         2022-06-15         2300.0
27        G702                 2022-07-14         2022-07-17         2100.0
28        H801                 2022-06-15         2022-06-18         2400.0
29        H801                 2022-07-15         2022-07-16         2200.0

In [105]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   apartamento                 30 non-null     object
 1   datas_combinadas_pagamento  30 non-null     datetime64[ns]
 2   datas_de_pagamento          30 non-null     datetime64[ns]
 3   valor_aluguel               30 non-null     float64
dtypes: datetime64[ns](2), float64(1), object(1)
memory usage: 1.1+ KB

In [106]:
data['dif'] = data['datas_de_pagamento'] - data['datas_combinadas_pagamento']

In [107]:
data['dif'] = data['dif'].dt.days

In [112]:
data['mes'] = data['datas_combinadas_pagamento'].dt.strftime('%Y-%m')

In [ ]:
data.head()

,apartamento,datas_combinadas_pagamento,datas_de_pagamento,valor_aluguel,dif,mes
0,A101,2022-06-01,2022-06-05,1000.0,4,2022-06
1,A101,2022-07-01,2022-07-03,2500.0,2,2022-07
2,A102,2022-06-02,2022-06-02,1100.0,0,2022-06
3,A102,2022-07-02,2022-07-06,2600.0,4,2022-07
4,B201,2022-06-03,2022-06-07,1200.0,4,2022-06
5,B201,2022-07-03,2022-07-03,2700.0,0,2022-07
6,B202,2022-06-04,2022-06-07,1300.0,3,2022-06
7,B202,2022-07-04,2022-07-05,2800.0,1,2022-07
8,C301,2022-06-05,2022-06-10,1400.0,5,2022-06
9,C301,2022-07-05,2022-07-09,2900.0,4,2022-07
10,C302,2022-06-06,2022-06-08,1500.0,2,2022-06
11,C302,2022-07-06,2022-07-12,1200.0,6,2022-07
12,D401,2022-06-07,2022-06-07,1600.0,0,2022-06
13,D401,2022-07-07,2022-07-09,1300.0,2,2022-07
14,D402,2022-06-08,2022-06-10,1700.0,2,2022-06
15,D402,2022-07-08,2022-07-14,1400.0,6,2022-07
16,E501,2022-06-09,2022-06-10,1800.0,1,2022-06
17,E501,2022-07-09,2022-07-09,1500.0,0,2022-07
18,E502,2022-06-10,2022-06-16,1900.0,6,2022-06
19,E502,2022-07-10,2022-07-12,1600.0,2,2022-07
20,F601,2022-06-11,2022-06-17,2000.0,6,2022-06
21,F601,2022-07-11,2022-07-13,1000.0,2,2022-07
22,F602,2022-06-12,2022-06-15,2100.0,3,2022-06
23,F602,2022-07-12,2022-07-12,1100.0,0,2022-07
24,G701,2022-06-13,2022-06-19,2200.0,6,2022-06
25,G701,2022-07-13,2022-07-20,1200.0,7,2022-07
26,G702,2022-06-14,2022-06-15,2300.0,1,2022-06
27,G702,2022-07-14,2022-07-17,2100.0,3,2022-07
28,H801,2022-06-15,2022-06-18,2400.0,3,2022-06
29,H801,2022-07-15,2022-07-16,2200.0,1,2022-07

# Finalización

In [122]:
fig = px.bar(
    data,
    x='apartamento',
    y='valor_aluguel',
    color='mes',
    barmode='group',
    text='dif',
    labels={
        'valor_aluguel': 'Valor Aluguel',
        'apartamento': 'Apartamento',
        'dif': 'Diferencia de días',
        'mes': 'Mes'
    },
    title='Valor de Alquiler por Apartamento (con días de atraso como texto)'
)
fig.update_traces(textposition='outside')
fig.show()